.form {
  width: 80%;
  min-height: 60vh;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  display: block;
  text-align: center;
  font-size: 95px;
  margin: 10px 0;
  font-weight: 700;
  font-family: 'Righteous';
  color: #fff;
}

input {
  padding: 10px 20px;
  background-color: #4d647c;
  border: 1px solid #43586d;
  outline: none;
  /* font-weight: 200; */
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .form {
    flex-direction: column;
    text-align: center;
  }
}
