@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:400,700&display=swap');

body {
  font: 14px "Roboto", Futura, sans-serif;
  background-color: #34495e;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}



.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

